{% extends 'base_without_panel.html.twig' %}

{% block stylesheets %}
    {{ vite_asset('app') }}
    {{ vite_asset('login') }}
{% endblock %}


{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login">
        <div class="img">
            <img src="{{ asset('images/login.png') }}" alt=""/>
        </div>
        <div class="body">
            <h1>Postfix Administration</h1>
            <form method="post" class="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <div class="input-group">
                    <div class="label">
                        <label for="inputUsername">Username</label>
                    </div>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input"
                           autocomplete="username" required autofocus>
                </div>
                <div class="input-group">
                    <div class="label">
                        <label for="inputPassword">Password</label>
                    </div>
                    <input type="password" name="password" id="inputPassword" class="input"
                           autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="button button-success" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}
