{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if app.user %}
        <h1>{{ "General.welcome_back"|trans({'%name%': app.user.username}) }}</h1>
        <a href="{{ path('administration') }}">{{ 'General.dashboard'|trans }}</a>
    {% else %}
        <h1>{{ 'General.welcome_message'|trans }}</h1>
        <a href="{{ path('app_login') }}">{{ 'General.login'|trans }}</a>
    {% endif %}

{% endblock %}
