{% extends 'base.html.twig' %}


{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('table_search') }}
    <script>
        window.onload = () => {
            let domains_table = document.querySelector("#domains_table");
            new Table(domains_table);
        };
    </script>

{% endblock %}

{% block title %}My Domains{% endblock %}

{% block body %}
    <div class="domains box">
        <div class="box-header">
            <h2>My domains</h2>
            <a href="#" class="button button-success"><span class="material-icons">add</span> Add a domain</a>
        </div>
        <div class="box-body">

            <table class="table" id="domains_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Domain</th>
                    <th># Mailboxes</th>
                    <th># Aliases</th>
                    <th>Backup</th>
                    <th>Enable</th>
                </tr>
                </thead>
                <tbody>
                {% for item in domains %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            <span class="badge badge-warning">{{ item.domain }}</span></td>
                        <td>
                            <span class="badge badge-info">
                                {{ item.mailboxes.count }}
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-info">
                                {{ item.aliases.count }}
                            </span>
                        </td>
                        <td>
                            {% if item.backupMx %}
                                <span class="badge badge-success">
                                    <span class="material-icons">check</span>
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <span class="material-icons">close</span>
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.isActive %}
                                <span class="badge badge-success">
                                    <span class="material-icons">check</span>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
