{% extends 'base.html.twig' %}


{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('table_search') }}
    <script>
        window.onload = () => {
            let domains_table = document.querySelector("#domains_table");
            new Table(domains_table);
        };
    </script>

{% endblock %}

{% block title %}My Domains{% endblock %}

{% block body %}
    <div class="domains box">
        <div class="box-header">
            <h2>My domains</h2>
            {% if is_granted('ROLE_CREATE') %}
                <a href="{{ path('domain_create') }}" class="button button-success"><span
                            class="material-icons">add</span> Add a domain</a>
            {% endif %}
        </div>
        <div class="box-body">

            <table class="table" id="domains_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Domain</th>
                    <th># Mailboxes</th>
                    <th># Aliases</th>
                    <th>Backup</th>
                    <th>Enable</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in domains %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>
                            <span class="badge badge-warning">{{ item.domain }}</span></td>
                        <td>
                            <span class="badge badge-info">
                                {{ item.mailboxes.count }}
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-info">
                                {{ item.aliases.count }}
                            </span>
                        </td>
                        <td>
                            {% if item.backupMx %}
                                <span class="badge badge-success">
                                    <span class="material-icons">check</span>
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <span class="material-icons">close</span>
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.isActive %}
                                <span class="badge badge-success">
                                    <span class="material-icons">check</span>
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <span class="material-icons">close</span>
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="button button-success" href="{{ path('domain_view', {'id': item.id}) }}">
                                <span class="material-icons">visibility</span>
                            </a>
                            {% if is_granted('ROLE_DEACTIVATE') %}
                                <a class="button button-warning" href="{{ path('domain_activation', {'id': item.id}) }}"
                                   title="deactivate">
                                    <span class="material-icons">{{ item.isActive ? 'power_off' : 'power' }}</span>
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_EDIT') %}
                                <a class="button button-primary" href="{{ path('domain_edit', {'id': item.id}) }}"
                                   title="edit">
                                    <span class="material-icons">edit</span>
                                </a>
                            {% endif %}

                            {% if is_granted('ROLE_DELETE') %}
                                <a class="button button-danger"
                                   onclick="return confirm('Are you sure, you want to delete this domain ?')"
                                   href="{{ path('domain_delete', {'id': item.id}) }}"
                                   title="edit">
                                    <span class="material-icons">delete</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
