{% extends 'base.html.twig' %}

{% block title %}Hello MailboxController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('table_search') }}
    <script>
        window.onload = () => {
            let mailbox_table = document.querySelector("#mailbox_table");
            new Table(mailbox_table);
        };
    </script>

{% endblock %}

{% block body %}
    <div id="mailbox" class="box">
        <div class="box-header">
            <h2>My Mailboxes</h2>
        </div>
        <div class="box-body">
            <table class="table" id="mailbox_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Mail</th>
                    <th>Name</th>
                    <th>Firstname</th>
                    <th>Quota</th>
                    <th>Enable</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in domains %}
                    {% for mailbox in domain.Mailboxes %}
                        <tr>
                            <td>{{ mailbox.id }}</td>
                            <td>
                                <span class="badge badge-warning">
                                    {{ mailbox.username }}@{{ domain.domain }}
                                </span>
                            </td>
                            <td>{{ mailbox.name|default('UNKNOW') }}</td>
                            <td>
                                {{ mailbox.firstname|default('UNKNOW') }}
                            </td>
                            <td>
                                <span class="badge badge-info">
                                    {{ mailbox.quota }}
                                </span>
                            </td>
                            <td>
                                {% if mailbox.isActive %}
                                    <span class="badge badge-success">
                                        <span class="material-icons">check</span>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        <span class="material-icons">close</span>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
