{% use 'form_div_layout.html.twig' %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="form-error">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="label">
        {{- form_label(form) -}}
        {{- form_help(form) -}}
    </div>
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
{%- endblock form_row -%}

{%- block form -%}
    {{ form_start(form, {'attr' : {'class' : 'form'}}) }}
    <div class="form-row text-error">
        {{- form_errors(form) -}}
    </div>
    {% for child in form|filter(child => not child.rendered) %}
        <div class="input-group">
            {{- form_row(child) -}}
        </div>
    {% endfor %}
    {{ form_end(form) }}
{%- endblock form -%}