<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Postfix Admin Panel - {% endblock %}</title>

    {{ vite_asset('app') }}
    {{ vite_asset('admin_panel') }}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body class="app theme-dark">
<div class="nav">

    <div class="header">
        <div class="gravatar">
            <img src="https://fr.gravatar.com/avatar/{{ app.user.username|md5 }}" alt=""/>
        </div>
        <h2>{{ app.user.username }}</h2>
    </div>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}"><span class="material-icons">dashboard</span>Home</a></li>
            <li><a href="{{ path('domain') }}"><span class="material-icons">domain</span>Domains</a></li>
            <li><a href="{{ path('mailbox') }}"><span class="material-icons">mail</span>Mailbox</a></li>
            <li><a href="{{ path('alias') }}"><span class="material-icons">alternate_email</span>Alias</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('home') }}"><span class="material-icons">admin_panel_settings</span>Administration</a>
                </li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}"><span class="material-icons">logout</span>Logout</a></li>
        </ul>
    </nav>

</div>

<main>
    <div>
        {% block body %}{% endblock %}
    </div>
</main>

</body>
</html>
