{% extends 'base.html.twig' %}

{% block title %}Aliases{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('table_search') }}
    <script>
        window.addEventListener("load", () => {
            let mailbox_aliases_table = document.querySelector("#mailbox_aliases_table");
            new Table(mailbox_aliases_table);
            new Table(document.querySelector("#table_domain_aliases"));
        });
    </script>
{% endblock %}

{% block body %}
    <div id="mailbox_aliases" class="box" data-name="aliases_mailboxes">
        <div class="box-header">
            <h2>My Mailbox Aliases</h2>
        </div>
        <div class="box-body">
            <table class="table table-search" id="mailbox_aliases_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Mailbox</th>
                    <th>Goto</th>
                    <th>Enable</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in domains %}
                    {% for alias in domain.aliases %}
                        <tr>
                            <td>{{ alias.id }}</td>
                            <td>
                                <span class="badge badge-info">
                                    {{ alias.address }}@{{ domain.domain }}
                                </span>
                            </td>
                            <td>
                                <ul>
                                    {% for item in alias.goto|split(',') %}
                                        <li><span class="badge badge-warning">{{ item }}</span></li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {% if alias.isActive %}
                                    <span class="badge badge-success">
                                        <span class="material-icons">check</span>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        <span class="material-icons">close</span>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div id="domain_aliases" class="box">
        <div class="box-header">
            <h2>My Domain Aliases</h2>
        </div>
        <div class="box-body">
            <table class="table" id="table_domain_aliases">
                <thead>
                <tr>
                    <th>Domain</th>
                    <th>Goto</th>
                    <th>Enable</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in domains %}
                    {% for alias in domain.origineAlias %}
                        <tr>
                            <td>
                                <span class="badge badge-info">
                                    {{ domain.domain }}
                                </span>
                            </td>
                            <td>
                                <span class="badge badge-warning">
                                    {{ alias.destination.domain }}
                                </span>
                            </td>
                            <td>
                                {% if alias.isActive %}
                                    <span class="badge badge-success">
                                        <span class="material-icons">check</span>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                        <span class="material-icons">close</span>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
